{% extends "base.html" %}

{% block title %}Home - Vocab App{% endblock %}

{% block content %}
<h1>Welcome to the langscribe VocabTracker</h1>

<div class="update-log mt-4 p-3 border rounded bg-light shadow-sm">
    <h2 class="h4">📝 Update Log</h2>
    <ul class="mb-0">
        <li><strong>v1.0.04</strong> - Community page rework and word model fixed. <em>(July 5, 2025)</em></li>
        <li><strong>v1.0.04</strong> - Fixed uploads and added support for .docx files.<em>(July 4, 2025)</em></li>
        <li><strong>v1.0.03</strong> - Sorted library and fixed 'File Not Found' issues. <em>(July 3, 2025)</em></li>
        <li><strong>v1.0.02</strong> - Support for other languages <em>(July 2, 2025)</em></li>
        <li><strong>v1.0.01</strong> - Added password hashing and fixed database issues. <em>(July 1, 2025)</em></li>
        <li><strong>v1.0.00</strong> - Initial release. <em>(June 30, 2025)</em></li>
    </ul>
</div>

<div class="what's-next? mt-4 p-3 border rounded bg-light shadow-sm">
    <h2 class="h4">🔍 What's Next?</h2>
    <ul class="mb-0">
        <li><strong></strong> - To Be Determined. <em></em></li>
    </ul>
</div>

<div class="contact-me mt-4 p-3 border rounded bg-light shadow-sm">
    <h2 class="h4">⌨️ Contact Me</h2>
    <ul class="mb-0">
        <li><strong>email</strong> - phillips.liam06@gmail.com <em></em></li>
    </ul>
</div>
{% endblock %}